include ../field/field

mixin cabinet-section
    include ../personal-card/personal-card

    section.section-title
        .container
            h1.h1=title
    section.section
        .container
            .content-sidebar
                .sidebar__box
                    include ../menu-sidebar/menu-sidebar
                    +personal-card(personalCard)
                .content__box
                    block


mixin cabinet-box(cabinetBox)
    .cabinet-box
        a(href='#').cabinet-logout Выйти
        .cabinet-head
            if cabinetBox.back
                a(href='cabinet-history.html').cabinet-head__back=cabinetBox.back
            else if cabinetBox.bonus || cabinetBox.bonus === 0
                .cabinet-head__bonus Бонусов:
                    |
                    b=cabinetBox.bonus
            else if cabinetBox.title
                h3.h3.cabinet-head__title=cabinetBox.title
        if block
            .cabinet-body
                block

mixin cabinet-form
    form(action='/' method='POST').cabinet-form
        .cabinet-form__field
            +field('Название организации / Ф.И.О.', 'name', 'ООО Рога и копыта')
        .cabinet-form__field
            +field('ИНН / Паспортные данные', 'inn-passport')
        .cabinet-form__field
            +field('Город', 'city')
        .cabinet-form__field
            +field('Адрес', 'address')
        .cabinet-form__field
            +field('Электронная почта', 'email')
        .cabinet-form__field
            +field('Номер телефона', 'phone')
        .cabinet-form__button
            button.btn.btn-yellow Сохранить

mixin cabinet-history
    .cabinet-history
        - var i = 0;
        while i < 5
            .cabinet-history__row
                .cabinet-history__col
                    .cabinet-history__col-title Номер заказа
                    .cabinet-history__col-value №82901720817
                .cabinet-history__col
                    .cabinet-history__col-title Дата оформления
                    .cabinet-history__col-value 28.09.2018
                .cabinet-history__col
                    .cabinet-history__col-title Статус заказа
                    .cabinet-history__col-value На рассмотрении
                .cabinet-history__col
                    .cabinet-history__col-title Повтор
                    a(href='#').cabinet-history__col-repeat Повторить заказ
                .cabinet-history__col
                    a(href='cabinet-history-detail.html').btn.btn-yellow Состав заказа

            - i++;

mixin cabinet-history-detail
    .cabinet-history-detail
        .cabinet-history-detail__head
            .cabinet-history-detail__data
                p Номер заказа
                span №82901720817
            .cabinet-history-detail__data
                p Бонусные баллы за этот заказ
                span 452
            .cabinet-history-detail__data
                p Статус заказа
                span На рассмотрении
            .cabinet-history-detail__button
                a(href='#').btn.btn-yellow Повторить
        .cabinet-history-detail__body
            h4.h4.cabinet-history-detail__title Товары
            .cabinet-history-detail__list
                - var i = 0;
                while i < 4
                    .cabinet-history-detail__row
                        a(href='#').cabinet-history-detail__col-img
                            img(src='img/cabinet-history-detail/product.png' alt='3COB, 6W, 6500K / 4500K / 3000K, 520ЛМ, D100*75*37, 40шт В')
                        a(href='#').cabinet-history-detail__col-title 3COB, 6W, 6500K / 4500K / 3000K, 520ЛМ, D100*75*37, 40шт В
                        .cabinet-history-detail__col-data
                            p Артикул
                            span 3RM
                        .cabinet-history-detail__col-data
                            p Цена за штуку
                            span 1208 ₽
                        .cabinet-history-detail__col-data
                            p Склад
                            span Москва
                        .cabinet-history-detail__col-data
                            p Количество
                            span 1
                        .cabinet-history-detail__col-sum
                            p Сумма
                            span 999 208 ₽
                    - i++;
mixin cabinet-bonus
    -
        var options = [
            {
                title: 'На 1 месяц сотрудничества',
                list: [
                    {
                        value: '50 000 рублей',
                        bonus: '2000 бонусов'
                    },
                    {
                        value: '100 000 рублей',
                        bonus: '4000 бонусов'
                    },
                    {
                        value: '200 000 рублей',
                        bonus: '6000 бонусов'
                    },
                ]
            },
            {
                title: 'На последующие месяцы сотрудничества',
                list: [
                    {
                        value: '50 000 рублей',
                        bonus: '2000 бонусов'
                    },
                    {
                        value: '100 000 рублей',
                        bonus: '4000 бонусов'
                    },
                    {
                        value: '200 000 рублей',
                        bonus: '6000 бонусов'
                    },
                ]
            }
        ]


    .cabinet-bonus
        .cabinet-bonus__content
            h4.h4.cabinet-bonus__title Как начисляются бонусы?
            .cabinet-bonus__text
                p При покупке товара (после смены статуса «оплачено или «отгружено») на бонусный счет контрагента начисляются бонусы по следующим схемам:
            for option in options
                +cabinet-bonus-options(option)



mixin cabinet-bonus-options(option)
    .cabinet-bonus__opstion-block
        .cabinet-bonus__opstion-title=option.title
        .cabinet-bonus__opstion-list
            for item in option.list
                .cabinet-bonus__opstion
                    .cabinet-bonus__opstion-value=item.value
                    .cabinet-bonus__opstion-line
                    .cabinet-bonus__opstion-bonus=item.bonus







